[Unit]
Description=Sound to MQTT service
After=network-online.target sound.target
Requires=network-online.target
Wants=avahi-daemon.service

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=/home/pi/HomeStage/homestage-server.py
Restart=always
RestartSec=2
RuntimeMaxSec=43200
User=pi
Group=audio

[Install]
WantedBy=multi-user.target
